# Ignore miscellaneous files by default.
*

# Include folders so git can walk the tree.
!*/

# Include source code.
!*.java
!*.py

# Include documentation.
!*.md

# Include Pathery MapCode format.
!*.mapcode

# Ignore hidden files (usually garbage or tests).
.*

# Ignore build artifacts.
bin/
build/
gradle/

# Include tooling configuration.
!build.gradle
!.gitignore
!checkstyle.xml
!spotbugs-exclude.xml
