# Ignore miscellaneous files by default.
*

# Include folders so git can walk the tree.
!*/

# Include source code.
!*.java
!*.py

# Include documentation.
!*.md

# Include Pathery MapCode format.
!*.mapcode

# Include extensionless hooks. Git expects these exact filenames under core.hooksPath.
# This list must be manually maintained.
!hooks/pre-commit
!hooks/commit-msg

# Ignore hidden files (usually garbage or tests)
.*

# Ignore build artifacts.
bin/
build/
gradle/

# Include tooling configuration.
!build.gradle
!.gitignore
!checkstyle.xml
!spotbugs-exclude.xml
