<?xml version="1.0" ?>
<!DOCTYPE module PUBLIC "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"
    "https://checkstyle.org/dtds/configuration_1_3.dtd">
<module name="Checker">
    <module name="FileLength" />
    <module name="FileTabCharacter" />
    <module name="Header" />
    <module name="MultiFileRegexpHeader" />
    <module name="RegexpHeader" />
    <module name="RegexpOnFilename" />
    <module name="RegexpSingleline" />
    <module name="SuppressWarningsFilter" />
    <module name="TreeWalker">
        <module name="AbbreviationAsWordInName" />
        <module name="AnnotationLocation" />
        <module name="AnnotationUseStyle" />
        <module name="AnonInnerLength" />
        <module name="ArrayTrailingComma" />
        <module name="ArrayTypeStyle" />
        <module name="AtclauseOrder" />
        <module name="AvoidDoubleBraceInitialization" />
        <module name="AvoidEscapedUnicodeCharacters" />
        <module name="AvoidNestedBlocks" />
        <module name="AvoidNoArgumentSuperConstructorCall" />
        <module name="AvoidStarImport" />
        <module name="AvoidStaticImport" />
        <module name="BooleanExpressionComplexity" />
        <module name="CatchParameterName" />
        <module name="ClassDataAbstractionCoupling" />
        <module name="ClassFanOutComplexity" />
        <module name="ClassTypeParameterName" />
        <module name="CommentsIndentation" />
        <module name="ConstantName" />
        <module name="ConstructorsDeclarationGrouping" />
        <module name="CovariantEquals" />
        <module name="CustomImportOrder" />
        <module name="CyclomaticComplexity" />
        <module name="DeclarationOrder" />
        <module name="DefaultComesLast" />
        <module name="DescendantToken" />
        <module name="DesignForExtension" />
        <module name="EmptyBlock" />
        <module name="EmptyCatchBlock" />
        <module name="EmptyForInitializerPad" />
        <module name="EmptyForIteratorPad" />
        <module name="EmptyStatement" />
        <module name="EqualsAvoidNull" />
        <module name="EqualsHashCode" />
        <module name="ExecutableStatementCount" />
        <module name="FallThrough" />
        <module name="FinalClass" />
        <module name="FinalLocalVariable" />
        <module name="FinalParameters" />
        <module name="GenericWhitespace" />
        <module name="HexLiteralCase" />
        <module name="HideUtilityClassConstructor" />
        <module name="IllegalCatch" />
        <module name="IllegalIdentifierName" />
        <module name="IllegalImport" />
        <module name="IllegalInstantiation" />
        <module name="IllegalThrows" />
        <module name="IllegalTokenText" />
        <module name="ImportOrder" />
        <module name="LambdaParameterName" />
        <module name="LeftCurly" />
        <module name="LocalFinalVariableName" />
        <module name="LocalVariableName" />
        <module name="MatchXpath" />
        <module name="MemberName" />
        <module name="MethodCount" />
        <module name="MethodLength" />
        <module name="MethodName" />
        <module name="MethodParamPad" />
        <module name="MethodTypeParameterName" />
        <module name="MissingDeprecated" />
        <module name="MissingOverride" />
        <module name="MissingSwitchDefault" />
        <module name="ModifiedControlVariable" />
        <module name="ModifierOrder" />
        <module name="OverloadMethodsDeclarationOrder" />
        <module name="PackageAnnotation" />
        <module name="PackageDeclaration" />
        <module name="ParenPad" />
        <module name="PatternVariableAssignment" />
        <module name="PatternVariableName" />
        <module name="RecordComponentName" />
        <module name="RedundantModifier" />
        <module name="Regexp" />
        <module name="RegexpSinglelineJava" />
        <module name="RequireEmptyLineBeforeBlockTagGroup" />
        <module name="RequireThis" />
        <module name="RightCurly" />
        <module name="SimplifyBooleanExpression" />
        <module name="SimplifyBooleanReturn" />
        <module name="SingleLineJavadoc" />
        <module name="SingleSpaceSeparator" />
        <module name="StaticVariableName" />
        <module name="StringLiteralEquality" />
        <module name="SuperClone" />
        <module name="SuperFinalize" />
        <module name="SuppressWarningsHolder" />
        <module name="ThrowsCount" />
        <module name="TypeName" />
        <module name="VisibilityModifier" />
        <module name="ExplicitInitialization" />
        <module name="SuppressWarnings" />
        <module name="TodoComment" />
    </module>
    <!--
        == Javadoc ==
        <module name="JavadocBlockTagLocation" />
        <module name="JavadocContentLocation" />
        <module name="JavadocLeadingAsteriskAlign" />
        <module name="JavadocMethod" />
        <module name="JavadocMissingLeadingAsterisk" />
        <module name="JavadocMissingWhitespaceAfterAsterisk" />
        <module name="JavadocParagraph" />
        <module name="JavadocStyle" />
        <module name="JavadocTagContinuationIndentation" />
        <module name="JavadocType" />
        <module name="JavadocVariable" />
        <module name="MissingJavadocMethod" />
        <module name="MissingJavadocPackage" />
        <module name="MissingJavadocType" />
        <module name="JavadocPackage" />

        == Formatting ==
        <module name="AnnotationOnSameLine" />
        <module name="LineLength" />
        <module name="UnnecessaryParentheses" />
        <module name="EmptyLineSeparator" />
        <module name="Indentation" />
        <module name="SeparatorWrap" />

        == Other ignored ==
        <module name="AbstractClassName" />
        <module name="AvoidInlineConditionals" />
        <module name="ClassMemberImpliedModifier" />
        <module name="HiddenField" />
        <module name="IllegalToken" />
        <module name="IllegalType" />
        <module name="ImportControl" />
        <module name="LambdaBodyLength" />
        <module name="MagicNumber" />
        <module name="MissingCtor" />
        <module name="MissingNullCaseInSwitch" />
        <module name="OuterTypeNumber" />
        <module name="ReturnCount" />
        <module name="TrailingComment" />
        <module name="UncommentedMain" />
    -->
</module>
